
.search-content {
	margin: 0px auto;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 170px;
}

.search-criteria {
	position: relative;
	float: right;
	margin-right: 25px;
}

.search-input {
	font-size: 18px;
	border-bottom: 1px solid #767676;
	margin-bottom: 10px;
}

.search-button {
	background-color: #00477B;
}
